<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
</head>
<body>
    <div th:fragment="file_context_menu">
        <link th:href="@{/css/context_menu.css}" rel="stylesheet"/>
        <script th:src="@{/scripts/app/popups.js}"></script>

        <div id="files_context_menu">
            <div id="files-context-menu-open" class="context_menu_item">
                <img src="/images/buttons/open.png" class="context_menu_image"/>
                <span class="context_menu_item_label">Open</span>
            </div>
            <!--
            <div id="files-context-menu-edit" class="context_menu_item">
                <img src="/images/buttons/edit.png" class="context_menu_image"/>
                <span class="context_menu_item_label">Edit</span>
            </div>
            -->
            <hr class="context_menu_separator"/>
            <div id="files-context-menu-download" class="context_menu_item">
                <img src="/images/buttons/download.png" class="context_menu_image"/>
                <span class="context_menu_item_label">Download</span>
            </div>
            <div id="files-context-menu-delete" class="context_menu_item">
                <img src="/images/buttons/delete.png" class="context_menu_image"/>
                <span class="context_menu_item_label">Delete</span>
            </div>
            <hr class="context_menu_separator"/>
            <div id="files-context-menu-rename" class="context_menu_item">
                <img src="/images/buttons/rename.png" class="context_menu_image"/>
                <span class="context_menu_item_label">Rename</span>
            </div>
            <hr class="context_menu_separator"/>
            <div id="files-context-menu-details" class="context_menu_item">
                <img src="/images/buttons/info.png" class="context_menu_image"/>
                <span class="context_menu_item_label">Details</span>
            </div>
        </div>
    </div>
</body>
</html>