<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
</head>
<body>
    <div th:fragment="files_table">
        <link th:href="@{/css/files_table.css}" rel="stylesheet"/>
        <link th:href="@{/css/lib/checkbox.css}" rel="stylesheet"/>

        <script th:src="@{/lib/mustache.min.js}"></script>

        <div id="files-explorer-wrapper">
            <table id="files-explorer">
                <thead>
                <tr>
                    <th id="check-all">&#9745;</th>
                    <th id="type-column" order="TYPE">Type</th>
                    <th id="name-column" order="NAME">Name</th>
                    <th id="size-column" order="SIZE">Size</th>
                    <th id="date-column" order="CREATION_DATE">Creation date</th>
                </tr>
                </thead>
                <tbody id="files-list">
                <script id="back-entity-template" type="x-tmpl-mustache">
                    <tr id="..">
                        <td class="cell-checkbox"></td>
                        <td class="cell-type-image"><img class="file-ico" src="/images/fileico/directory_back.png"/></td>
                        <td class="cell-filename">..</td>
                        <td class="cell-filesize"></td>
                        <td class="cell-creation-date"></td>
                    </tr>
                </script>
                <script id="file-entity-template" type="x-tmpl-mustache">
                    <tr id="{{filename}}">
                        <td class="cell-checkbox"><div class="squaredCheckbox"><input type="checkbox" value="None" id="checkbox-{{filename}}"/><label for="checkbox-{{filename}}"></label></div></td>
                        <td class="cell-type-image"><img class="file-ico" src="{{get_image_src}}" onerror="unknown_extension(this);"/></td>
                        <td class="cell-filename">{{filename}}</td>
                        <td class="cell-filesize">{{get_file_size}}</td>
                        <td class="cell-creation-date">{{creationDate}}</td>
                    </tr>
                </script>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>