<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
</head>
<body>
<div th:fragment="menu" class="navbar navbar-default">
    <link th:href="@{/css/welcome_menu.css}" rel="stylesheet"/>
    <script th:src="@{/scripts/welcome_menu.js}"></script>
    <div class="container">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="/images/logo.png" id="menu_logo" class="pull-left" height="35"/>
                <span class="navbar-brand">Cloud Pocket</span>
            </div>
            <div class="collapse navbar-collapse" id="welcome-menu-navbar">
                <ul class="nav navbar-nav">
                    <li id="home"><a href="/home">Home</a></li>
                    <li id="info"><a href="/info">Info</a></li>
                    <li id="register"><a href="/register">Register</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="login"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>