<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
</head>
<body>
    <div th:fragment="notification_popups">
        <link th:href="@{/css/popups.css}" rel="stylesheet"/>
        <script th:src="@{/scripts/app/popups.js}"></script>
        <div id="notification-popup-container"></div>
    </div>
    <div th:fragment="file_upload_progress_popup">
        <link th:href="@{/css/popups.css}" rel="stylesheet"/>
        <script th:src="@{/scripts/app/popups.js}"></script>
        <div id="upload-file-popup-container">
            <span id="upload-file-popup-filename">filename</span>
            <div id="upload-file-popup-progress-bar">
                <div id="upload-file-popup-progress-bar-bar"></div>
                <div id="upload-file-popup-progress-bar-percent">0%</div>
            </div>
            <span id="upload-file-popup-status">status</span>
            <div id="upload-file-popup-close-button">X</div>
        </div>
    </div>
</body>
</html>