<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
</head>
<body>
    <div th:fragment="toolbar" class="navbar navbar-default navbar-fixed-top">
        <link th:href="@{/css/welcome_menu.css}" rel="stylesheet"/>
        <link th:href="@{/css/toolbar.css}" rel="stylesheet"/>
        <link th:href="@{/css/pathbar.css}" rel="stylesheet"/>
        <script th:src="@{/scripts/app/toolbar.js}"></script>
        <script th:src="@{/scripts/responsive.js}"></script>
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="/images/logo.png" id="menu_logo" class="pull-left" height="35"/>
                <span class="navbar-brand" th:text="${login}">Cloud Pocket</span>
            </div>
            <div class="collapse navbar-collapse" id="toolbar-menu-navbar">
                <ul class="nav navbar-nav">
                    <li id="btn-home">
                        <img class="tool-button" src="/images/buttons/home_dir.png" title="Root folder"/>
                    </li>
                    <li><img class="tool-separator" src="/images/buttons/toolbar_separator.png"/></li>
                    <li id="btn-copy">
                        <img class="tool-button" src="/images/buttons/copy.png" title="Copy"/>
                    </li>
                    <li id="btn-cut">
                        <img class="tool-button" src="/images/buttons/cut.png" title="Cut"/>
                    </li>
                    <li id="btn-paste">
                        <img class="tool-button" src="/images/buttons/paste.png" title="Paste"/>
                    </li>
                    <li><img class="tool-separator" src="/images/buttons/toolbar_separator.png"/></li>
                    <li id="btn-download">
                        <img class="tool-button" src="/images/buttons/download.png" title="Download"/>
                    </li>
                    <li id="btn-delete">
                        <img class="tool-button" src="/images/buttons/delete.png" title="Delete"/>
                    </li>
                    <li><img class="tool-separator" src="/images/buttons/toolbar_separator.png"/></li>
                    <li id="btn-compress">
                        <img class="tool-button" src="/images/buttons/compress.png" title="Compress"/>
                    </li>
                    <li id="btn-uncompress">
                        <img class="tool-button" src="/images/buttons/uncompress.png" title="Uncompress"/>
                    </li>
                    <li><img class="tool-separator" src="/images/buttons/toolbar_separator.png"/></li>
                    <li id="btn-rename">
                        <img class="tool-button" src="/images/buttons/rename.png" title="Rename"/>
                    </li>
                    <li><img class="tool-separator" src="/images/buttons/toolbar_separator.png"/></li>
                    <li id="btn-add_file">
                        <img class="tool-button " src="/images/buttons/add_file.png" title="Upload file"/>
                    </li>
                    <li id="btn-add_folder">
                        <img class="tool-button" src="/images/buttons/add_folder.png" title="Create folder"/>
                    </li>
                    <li id="btn-add_structure">
                        <img class="tool-button" src="/images/buttons/add_archive.png" title="Upload file structure"/>
                    </li>
                    <li><img class="tool-separator" src="/images/buttons/toolbar_separator.png"/></li>
                    <li>
                        <input type="text" id="search-input"/>
                    </li>
                    <li id="btn-search">
                        <img class="tool-button" src="/images/buttons/search.png" title="Search"/>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="btn-user_profile">
                        <img class="tool-button" src="/images/buttons/user_profile.png" title="Profile"/>
                    </li>
                    <li id="btn-logout">
                        <img class="tool-button" src="/images/buttons/logout.png" title="Logout"/>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div th:fragment="pathbar">
        <div id="path-bar">
            <div id="btn-refresh" class="path-bar-item">
                <img class="tool-button" src="/images/buttons/refresh.png"/>
            </div>
            <div class="path-bar-item">
                <input type="text" id="current-path-input" value="/"/>
            </div>
            <div id="btn-go_path" class="path-bar-item">
                <img class="tool-button" src="/images/buttons/go_arrow.png"/>
            </div>
        </div>
    </div>

</body>
</html>