<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <include th:replace="snippets/headinclude"/>
    <title>Welcome to Cloud Pocket</title>

    <link th:href="@{/css/welcome.css}" rel="stylesheet"/>
</head>
<body>
    <div th:replace="snippets/welcome_menu :: menu"></div>
    <div class="container">
        <div th:replace="snippets/common :: banner"></div>
        <div class="welcome-main-text text-center">
            <br/>Cloud Pocket is service for store your files.
            <br/>Access your files from everywhere!
        </div>
    </div>
    <div th:replace="snippets/common :: footer"></div>
</body>
</html>