/* !important is used for override bootstrap styles only */

.form {
    background-color: rgba(0, 0, 0, 0.65);
    padding: 50px;
    border: 2px solid #4545F5;
    border-radius: 14px;
}

label {
    color: #4545F5;
    text-shadow: 0 0 4px rgba(69, 69, 245, 1);
    text-align: left;
    font-family: serif;
}

input {
    color: #0030FF !important;
    background-color: rgba(200, 200, 200, 0.8) !important;
    font-family: serif;
    border: 1px solid darkblue;
}

input:focus {
    border: 1px double gold !important;
}

button {
    width: 100px;
}

input:required:invalid, input:focus:invalid {
    background: url("/images/forms/invalid.png") no-repeat right top;
    background-size: 75px;
}
input:required:valid {
    background: url("/images/forms/valid.png") no-repeat right top;
    background-size: 75px;
}

::-webkit-input-placeholder {
    color: #B7FAF7 !important;
    opacity: 0.4 !important;
}
::-moz-placeholder {
    color: #B7FAF7 !important;
    opacity: 0.4 !important;
}