
.tool-button {
    width: 42px;
    height: 42px;
    margin: 3px;

    transition: all .15s ease-in-out;
}

.tool-button:hover {
    width: 46px;
    height: 46px;
    margin: 1px;
}

.tool-separator {
    height: 46px;
}

#search-input {
    width: 36px;
    height: 36px;
    margin-top: 8px;
    border: none;
    border-bottom: solid #1F811F;
    color: #0030FF;
    background-color: #181818;
    font-family: monospace;
    font-size: 16px;

    transition: all .5s ease-in-out;
}

#search-input:focus,
#search-input:hover {
    width: 175px;
}
