<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <include th:replace="/snippets/headinclude"/>
    <title>Welcome to Cloud Pocket</title>
</head>
<body>
    <div th:replace="/snippets/welcome_menu :: menu"></div>
    <div class="container">
        <h2 class="text-primary text-center">
            <div th:replace="/snippets/common :: banner"></div>
            <br/>Cloud Pocket is service for store your files.
            <br/>Access your files from everywhere!
        </h2>
    </div>
    <div th:replace="/snippets/common :: footer"></div>
</body>
</html>