<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <include th:replace="/snippets/headinclude"/>
    <title>About Cloud Pocket</title>
</head>
<body>
    <div th:replace="/snippets/welcome_menu :: menu"></div>
    <div class="center-block text-center">
        <p>
            Some info about Cloud Pocket
        </p>
        <p>
            Another advantage of Cloud Pocket
        </p>
    </div>
    <div th:replace="/snippets/common :: footer"></div>
</body>
</html>