<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <include th:replace="/snippets/headinclude"/>
    <title>About Cloud Pocket</title>

    <link th:href="@{/css/welcome.css}" rel="stylesheet"/>
</head>
<body>
    <div th:replace="/snippets/welcome_menu :: menu"></div>
    <div class="center-block text-center info-text">
        <p>
            Easy to start and use
        </p>
        <p>
            No redundant information for begin and use needed<br/>
            Only your email (for case when your forget your password)
        </p>
        <p>
            Password strength only on your choose
        </p>
        <p>
            Now Cloud Pocket has REST API<br/>
        </p>
        <p>
            And many new features
        </p>
    </div>
    <div class="center-block text-center info-text">
        <p class="remark" style="margin-top: 25px;">
            Cloud Pocket is free software and provided as is without any warranty. Use it at your own risk
        </p>
    </div>
    <div th:replace="/snippets/common :: footer"></div>
</body>
</html>