<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <include th:replace="snippets/headinclude"/>
    <title th:text="${login + ' - Cloud Pocket'}">Cloud Pocket</title>

    <script th:src="@{/scripts/app/app.js}"></script>
    <script th:src="@{/scripts/app/app_templates.js}"></script>
    <script th:src="@{/scripts/app/cloud_pocket_client.js}"></script>

    <script th:src="@{/lib/jquery.form.js}"></script>
</head>
<body class="default-background">
    <div th:replace="snippets/toolbar :: toolbar"></div>
    <div th:replace="snippets/toolbar :: pathbar"></div>
    <div th:replace="snippets/popups :: file_upload_progress_popup"></div>
    <div th:replace="snippets/popups :: notification_popups"></div>
    <div class="container">
        <div th:replace="snippets/files_table :: files_table"></div>
    </div>
    <div th:replace="snippets/common :: footer"></div>

    <span id="plugins">
        <script th:src="@{/scripts/app/plugins/background.js}"></script>
        <link th:href="@{/css/plugins/background.css}" rel="stylesheet"/>
    </span>
</body>
</html>